.login{
    background-image: url('/src/assests/360_F_229334216_RDVma5XabYicUfYB6gDjLq6qMKrEVl8m.jpg');
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}
.register{
    width: 190px;
    margin-left: 50px;
}
.loginbtn{
    width: 190px;
    margin-left: 90px;
}
.input{
    border-bottom: 2px solid black;
}