.box{
    
    width: 350px;
    margin-left: 590px;
    box-shadow: 10px 10px 20px rgb(248, 177, 177);
    border-radius: 20px;
    padding: 20px 20px;
}
.massage{
    border: 2px solid black;
    width: 300px;
    border-radius: 10px;
    height: 100px;
    
}
@media screen and (max-width:769px) {
  .box{
    margin-left: 260px;
  }
 }
