.iconhome{
    font-size: 30px;
    position: sticky;

}
.carousel{
    height: 500px;
    box-shadow: 10px 10px 20px rgb(245, 187, 187);
}
.crdstyle{
    height: 100px;
}
.crdstyle:hover{
    border-bottom: 5px solid rgb(47, 219, 76);
    box-shadow: 10px 10px 20px rgb(45, 238, 45);
}
.procrd{
    width: 230px;
    height: 350px;
}
.discountcrd{
    width: 230px;
    height: 400px;
    box-shadow: 10px 10px 20px rgb(236, 210, 210);
}
.discountimg:hover{
    transform: scale(1.1);
    transition: .3s;
}
.procrd:hover{
    border-bottom: 5px solid red;
}
.proimg:hover{
    transform: scale(1.1);
    transition: .3s;
}
.offerpart{
    height: 300px;
}
.offercrd{
    width: 100%;
    height: 270px;
}
.details{
    font-size: 30px;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid grey;
}
.details:hover{
    background-color: rgb(125, 245, 114);
}

.bannerpart{
    background-color: rgb(40, 160, 86);
    height: 400px;
    
}.banner2{
    background-color: rgb(250, 253, 253);
    border-radius: 50px;
    height: 300px;
}
.iconbtn{
    width: 90px;
}
.paypart{
    margin-top: 40px;
    background-color: aqua;
    height: 600px;
}

@media screen and (max-width:769px) {
    .cattitle{
        font-size: 10px;
    }
    .catimg{
        height: 20px;
        width: 30px;
    }
    .procrd{
        width: 100px;
        height: 250px;
    }
    .protitle{
        font-size: 10px;
    }
    .details{
        font-size: 20px;
    }
    .prodetails{
        flex-direction: column;
    }
    .bannerpartp{
        display: none;
    }
    .downloadbtn{
        display: none;
    }
    .discountcrd{
        width: 100px;
        height: 250px;
    }
}
