.search{
    width: 920px;
    
}
.navicon{
    padding: 10px 10px;
    height: 22px;
}


.logo{
    height: 60px;
}
.logofooter{
    height: 130px;
}

.offer:hover{
    background-color: black;
    transition: .9s;
}

.cat{
    text-align: center;
    margin-top: 40px;
}

.secondnav{
    border-bottom: 5px solid rgb(9, 92, 247);
}

.firstnav{
    margin: 10px 10px;
}
.slick-arrow{
    background-color: brown;
}
.slick-prev{
    z-index: 100;
    left: 20px !important;
    color: brown;
}
.slick-next{
    z-index: 100;
    right: 20px !important;
    color: brown;
}
.cardslider{
    background-color: rgb(42, 248, 248);
    height: 110px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.slider{
    background-color: rgb(71, 150, 240);padding-left: 30px;
    
}

